# First print your name in the cell below then save this file. (or something nice about your instructor)

In [23]:
# In this cell print your name 
print("Douglas Rollman")

#print something nice about instructor/TA
print("Georgios is very helpful and patient.")

Douglas Rollman
Georgios is very helpful and patient.

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [24]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [25]:
# Load data here
df = pd.read_csv("data/listings.csv")

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

### 1. How many listings are there with a price less than 100?

In [26]:

price = df[df['price'] < 100]
price.shape

print("There are", price.shape[0], "listings with a price less than 100.")

There are 22778 listings with a price less than 100.

In [27]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.
brooklyn = df[df["neighbourhood_group"] == "Brooklyn"]
brooklyn["neighbourhood_group"].value_counts()

print("There are", brooklyn.shape[0], "listings in Brooklyn.")

There are 18632 listings in Brooklyn.

In [28]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.

brooklyn_cheap = brooklyn[brooklyn['price'] < 100]
brooklyn_cheap['price'].max()
brooklyn_cheap["neighbourhood_group"].value_counts()
brooklyn_cheap.shape[0]

print("There are", brooklyn_cheap.shape[0], "listings in Brooklyn with a price less than 100.")

There are 10473 listings in Brooklyn with a price less than 100.

In [29]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names
names = ['Michael', 'David', 'John', 'Daniel']

biblenames = df[df['host_name'].isin(names)]
print("There are", biblenames.shape[0], "listings with the names Michael, David, John, or Daniel.")

There are 1258 listings with the names Michael, David, John, or Daniel.

In [30]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 

select_condition = df['neighbourhood'] == 'Williamsburg'
df['adjusted_price'] = df[select_condition]['price'] + 100
df['adjusted_price'].fillna(df['price'], inplace=True)

df_williamsburg = df[df['neighbourhood'] == 'Williamsburg']
print("The average price in Williamsburg is", df_williamsburg['price'].mean())
print("The average adjusted price in Williamsburg is", df_williamsburg['adjusted_price'].mean())

The average price in Williamsburg is 132.44979919678715
The average adjusted price in Williamsburg is 232.44979919678715

In [31]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  

df['room_type'].value_counts(normalize=True) * 100

Entire home/apt    51.578653
Private room       45.444581
Shared room         2.121349
Hotel room          0.855417
Name: room_type, dtype: float64

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [32]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.

df.groupby('neighbourhood_group').size()

neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
dtype: int64

In [33]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 

df.groupby('neighbourhood_group')['price'].mean()

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [34]:
# 2.5. Using `groupby`, find the mean price for each room_type. 

df.groupby('room_type')['price'].mean()

room_type
Entire home/apt    199.395950
Hotel room         275.015075
Private room        91.453084
Shared room         87.063830
Name: price, dtype: float64

In [35]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 

df.groupby('neighbourhood_group')['price'].agg(['min', 'max'])

                     min    max
neighbourhood_group
Bronx                 16   1404
Brooklyn               0  10000
Manhattan              0  10000
Queens                 0  10000
Staten Island         19   1200

In [36]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.
df.groupby(['neighbourhood_group', 'room_type'])['price'].mean()

neighbourhood_group  room_type
Bronx                Entire home/apt    138.004819
                     Private room        68.419668
                     Shared room         66.391304
Brooklyn             Entire home/apt    171.587687
                     Hotel room         147.300000
                     Private room        71.291189
                     Shared room         57.870091
Manhattan            Entire home/apt    231.335572
                     Hotel room         292.515670
                     Private room       128.277069
                     Shared room        111.735084
Queens               Entire home/apt    150.168900
                     Hotel room         139.058824
                     Private room        69.972564
                     Shared room         89.891892
Staten Island        Entire home/apt    151.720930
                     Private room        70.312883
                     Shared room         46.000000
Name: price, dtype: float64

In [37]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.

df.groupby(['neighbourhood_group', 'room_type'])['price'].agg(['count', 'min', 'max', 'mean', 'median', 'std'])

                                     count  min    max        mean  median  \
neighbourhood_group room_type
Bronx               Entire home/apt    415   25   1404  138.004819   103.0
                    Private room       722   16    700   68.419668    55.0
                    Shared room         46   20    800   66.391304    44.0
Brooklyn            Entire home/apt   9112   20  10000  171.587687   135.0
                    Hotel room          30    0    399  147.300000   129.0
                    Private room      9159   10   2500   71.291189    60.0
                    Shared room        331   15   1500   57.870091    36.0
Manhattan           Entire home/apt  12209    0  10000  231.335572   165.0
                    Hotel room         351    0   2211  292.515670   210.0
                    Private room      7601   10  10000  128.277069    80.0
                    Shared room        419   10  10000  111.735084    60.0
Queens              Entire home/apt   2090   10  10000  150.168900   115.0
                    Hotel room          17    0    249  139.058824   149.0
                    Private room      3499   18   9000   69.972564    55.0
                    Shared room        185   14   3000   89.891892    40.0
Staten Island       Entire home/apt    172   39   1200  151.720930   111.0
                    Private room       163   20    800   70.312883    55.0
                    Shared room          6   19     82   46.000000    38.0

                                            std
neighbourhood_group room_type
Bronx               Entire home/apt  126.032106
                    Private room      57.337866
                    Shared room      114.442703
Brooklyn            Entire home/apt  236.732843
                    Hotel room        91.153206
                    Private room      69.023165
                    Shared room       92.217618
Manhattan           Entire home/apt  410.306439
                    Hotel room       315.924085
                    Private room     448.677306
                    Shared room      502.728868
Queens              Entire home/apt  252.606739
                    Hotel room        50.743806
                    Private room     163.814468
                    Shared room      275.675158
Staten Island       Entire home/apt  147.518392
                    Private room      70.759593
                    Shared room       28.446441

# Load, Merge, and Export files.
1. Load the `prices.csv` and the `n_listings.csv`
    * Having an error..? Inspect the actual csv file if you're having trouble

2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']

       
3. Save your joined csv as `joined.csv` into the data folder. 


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [38]:
# 1. Load the `prices.csv` and the `n_listings.csv`
df_prices = pd.read_csv("data/prices.csv")
df_listing = pd.read_csv("data/n_listings.csv")

In [39]:
# 2. Do join that keeps all the records for each table.

In [40]:
# 3. Save your joined csv as `joined.csv` into the data folder.

In [41]:
# 4. Load your newly saved file, see if it looks the same.  If not, try saving with argument `index=False`

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

it looks interesting, basically you just pass queries in plain English as you would to chatgpt. Personally Copilot already does this better so I don't think I'd ever utilize this but if there was a project in which i wanted the user to be able to query my dataset and produce visuals maybe it would be interesting.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

#### Geopy

While it's not stricly a pandas package i've used it a few times to geolocate addresses. It's super simple to us

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

In [42]:
df_grammys = pd.read_csv("data/grammys.csv")

In [43]:
df_grammys['year']

0       1959
1       1959
2       1959
3       1959
4       1959
        ...
6318    2019
6319    2019
6320    2019
6321    2019
6322    2019
Name: year, Length: 6323, dtype: int64

In [44]:
#Who was won Album of the Year in 2016?
df_grammys[(df_grammys['year'] == 2016) & (df_grammys['category'] == 'Album of the Year') & df_grammys['winner']]

,year,category,nominee,workers,winner
5505,2016,Album of the Year,1989.,"Taylor Swift (artist/producer), Jack Antonoff ...",True

In [45]:
#who won Best Rap Album in 2009?

df_grammys[(df_grammys['year'] == 2009) & (df_grammys['category'] == 'Best Rap Album') & df_grammys['winner']]

      year        category         nominee     workers  winner
4396  2009  Best Rap Album  Tha Carter III  Lil' Wayne    True

In [46]:
#how many awards was Kendrick Lamar nomiated for, and how many did he win?

df_grammys[(df_grammys['workers'] == 'Kendrick Lamar') & (df_grammys['winner'])]
df_grammys[(df_grammys['workers'] == 'Kendrick Lamar')]

,year,category,nominee,workers,winner
5269,2014,Best Rap Album,"Good Kid, M.A.A.D City.",Kendrick Lamar,False
5272,2014,Best Rap Performance,Swimming Pools (Drank).,Kendrick Lamar,False
5448,2015,Best Rap Performance,i.,Kendrick Lamar,True
5596,2016,Best Rap Album,To Pimp a Butterfly.,Kendrick Lamar,True
5599,2016,Best Rap Performance,Alright.,Kendrick Lamar,True
6003,2018,Best Rap Performance,HUMBLE.,Kendrick Lamar,True

In [47]:
kendrick_workers = df_grammys[df_grammys['workers'].str.contains('Kendrick Lamar', na=False)]
kendrick_workers

,year,category,nominee,workers,winner
5269,2014,Best Rap Album,"Good Kid, M.A.A.D City.",Kendrick Lamar,False
5272,2014,Best Rap Performance,Swimming Pools (Drank).,Kendrick Lamar,False
5448,2015,Best Rap Performance,i.,Kendrick Lamar,True
5451,2015,Best Rap Song,i.,"Kendrick Lamar (Songwriter), Rahki (Songwriter)",True
5507,2016,Album of the Year,To Pimp a Butterfly.,"Kendrick Lamar (artist), Bilal (featured artis...",False
5575,2016,Best Music Video,Taylor Swift: Bad Blood,"Taylor Swift (artist), Kendrick Lamar (artist)...",True
5596,2016,Best Rap Album,To Pimp a Butterfly.,Kendrick Lamar,True
5599,2016,Best Rap Performance,Alright.,Kendrick Lamar,True
5602,2016,Best Rap Song,Alright.,"Kendrick Lamar (songwriter), Kawan Prather (so...",True
5604,2016,Best Rap Song,All Day.,"Tyler Bryant (songwriter), Sean 'Diddy' Combs ...",False
5605,2016,Best Rap/Sung Collaboration,These Walls.,"Kendrick Lamar, Bilal (featured artist), Anna ...",True
5654,2017,Album of the Year,Lemonade,"Dave Kutch (mastering engineer), Stuart White ...",False
6000,2018,Best Rap Album,Damn,Kendrick Lamar (artist),True
6003,2018,Best Rap Performance,HUMBLE.,Kendrick Lamar,True
6006,2018,Best Rap Song,Humble,"Mike Will Made It (songwriter), Asheton Hogan ...",True
6009,2018,Best Rap/Sung Performance,LOYALTY.,"Kendrick Lamar, Rihanna",True
6087,2019,Album of the Year,"Black Panther: The Album, Music from and Inspi...",Kendrick Lamar (featured artist/producer/songw...,False
6248,2019,Best Rap Song,Win (Jay Rock),"Jay Rock, Kendrick Lamar, Vinylz, Boi-1da, Cor...",False
6252,2019,Best Rap/Sung Performance,All the Stars,"Kendrick Lamar, SZA",False
6317,2019,Record of the Year,All the Stars,"Kendrick Lamar (artist), SZA (artist), Al Shux...",False

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

In [50]:
df_gl = pd.read_csv("data/gl2022.txt")
df_gl

,20220407,0,Thu,SDN,NL,1,ARI,NL.1,1.1,2,...,Seth Beer.1,10.1,ellid002,Drew Ellis,5.3,perdg001,Gerardo Perdomo,6.4,Unnamed: 159,Y
0,20220407,0,Thu,CIN,NL,1,ATL,NL,1,6,...,Travis d'Arnaud,2,dicka001,Alex Dickerson,10,swand001,Dansby Swanson,6,NaN,Y
1,20220407,0,Thu,MIL,NL,1,CHN,NL,1,4,...,Jason Heyward,8,wisdp001,Patrick Wisdom,5,hoern001,Nico Hoerner,6,NaN,Y
2,20220407,0,Thu,PIT,NL,1,SLN,NL,1,0,...,Yadier Molina,2,badeh001,Harrison Bader,8,edmat001,Tommy Edman,4,NaN,Y
3,20220407,0,Thu,NYN,NL,1,WAS,NL,1,5,...,Maikel Franco,5,escoa003,Alcides Escobar,6,roblv001,Victor Robles,8,NaN,Y
4,20220407,0,Thu,HOU,AL,1,ANA,AL,1,3,...,Max Stassi,2,marsb002,Brandon Marsh,9,fletd002,David Fletcher,6,NaN,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2424,20221005,0,Wed,KCA,AL,162,CLE,AL,162,2,...,Will Brennan,7,maill001,Luke Maile,2,stram002,Myles Straw,8,NaN,Y
2425,20221005,0,Wed,PHI,NL,162,HOU,AL,162,2,...,Jake Meyers,8,dubom001,Mauricio Dubon,6,maldm001,Martin Maldonado,2,NaN,Y
2426,20221005,0,Wed,ANA,AL,162,OAK,AL,162,2,...,Conner Capel,9,garcd004,Dermis Garcia,3,allen002,Nick Allen,6,NaN,Y
2427,20221005,0,Wed,DET,AL,162,SEA,AL,162,4,...,Abraham Toro,5,casac001,Curt Casali,2,crawj002,J.P. Crawford,6,NaN,Y
2428,20221005,0,Wed,NYA,AL,162,TEX,AL,162,2,...,Charlie Culberson,7,tavel001,Leody Taveras,8,thomb003,Bubba Thompson,9,NaN,Y

In [51]:
df_gl.columns

Index(['20220407', '0', 'Thu', 'SDN', 'NL', '1', 'ARI', 'NL.1', '1.1', '2',
       ...
       'Seth Beer.1', '10.1', 'ellid002', 'Drew Ellis', '5.3', 'perdg001',
       'Gerardo Perdomo', '6.4', 'Unnamed: 159', 'Y'],
      dtype='object', length=161)

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.

In [55]:

# List of file names
fnames = ['data/gl2019.txt', 'data/gl2020.txt', 'data/gl2021.txt', 'data/gl2022.txt', 'data/gl2023.txt']

# blank list
dfs = []

# Loop through each file and read it into a DataFrame
for file in fnames:
    df = pd.read_csv(file) 
    dfs.append(df)

# Concatenate all DataFrames into one
combined_df = pd.concat(dfs, ignore_index=True)

combined_df

,20190320,0,Wed,SEA,AL,1,OAK,AL.1,1.1,9,...,swand001.1,Dansby Swanson.1,manct001,Trey Mancini,gomey001,Yan Gomes,wisdp001,Patrick Wisdom,mastm001,Miles Mastrobuoni
0,20190321.0,0,Thu,SEA,AL,2,OAK,AL,2,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20190328.0,0,Thu,PIT,NL,1,CIN,NL,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20190328.0,0,Thu,ARI,NL,1,LAN,NL,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20190328.0,0,Thu,COL,NL,1,MIA,NL,1,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20190328.0,0,Thu,SLN,NL,1,MIL,NL,1,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10606,NaN,0,NaN,NaN,NaN,162,NaN,NaN,162,5,...,remiz001,Zach Remillard,grany001,Yasmani Grandal,sosal001,Lenyn Sosa,thomt002,Trayce Thompson,perec005,Carlos Perez
10607,NaN,0,NaN,NaN,NaN,162,NaN,NaN,162,5,...,torks001,Spencer Torkelson,vierm001,Matt Vierling,ibana001,Andy Ibanez,baezj001,Javier Baez,rogej004,Jake Rogers
10608,NaN,0,NaN,NaN,NaN,162,NaN,NaN,162,7,...,wittb002,Bobby Witt,olive001,Edward Olivares,massm001,Michael Massey,pratn001,Nick Pratto,duffm002,Matt Duffy
10609,NaN,0,NaN,NaN,NaN,162,NaN,NaN,162,8,...,rodrj007,Julio Rodriguez,kelej001,Jarred Kelenic,frant002,Ty France,fordm002,Mike Ford,rojaj001,Josh Rojas
10610,NaN,0,NaN,NaN,NaN,162,NaN,NaN,162,7,...,beltb001,Brandon Belt,biggc002,Cavan Biggio,espis001,Santiago Espinal,heint001,Tyler Heineman,edenc001,Cam Eden